 

.carousel {
  // height: 100vh;
}

.carousel-item  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100vh;
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
  }
}