.excellent {
  display: flex;
  padding-top: 80px;
  @media  (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  &_left {
    flex: 1;
    display: flex;
    justify-content: flex-end;


  }

  &_right {
    flex: 1.5;
    width: 670px;

    & h3,
    & p {
      text-align: left;
    }

    &_list {
       padding-left: 80px;
    }

    &_item {
      list-style: none;
      background:  url(../img/li.png) no-repeat 0 5px;
      padding-left: 40px;
      font-size: 16px;
      font-family: "Montserrat";
      color: rgb(140, 140, 140);
      line-height: 2;
       
      
    }
  }
}