@import "categories.scss";


.latest {


  &_center {
     padding: 40px 15%;

     @media  (max-width: 1199px) {
      padding: 0 5%;
     }
    
    &_content {
      
      padding-bottom: 15px;
      

      &_text {
        position: relative; 
        background-color: rgb(251, 250, 248);
        padding: 25px;
        width: 370px;
        height: 100px;
        
        
         &::before {
          content: ' ';
          width: 30px;
          height: 30px;
          background-color: rgb(251, 250, 248);
          position: absolute;
          left: 20px;
          top: -15px;
          transform: rotate(45deg);
         }
        
         & p {
           
          font-size: 14px;
          font-family: "Montserrat";
          color: rgb(209, 209, 209);
          line-height: 1.429;
          text-align: left;
           
           
          
         }

         
      }
    }
  }

  &_bottom {
    display: flex;
     
    justify-content: center;
    margin-bottom: 80PX;
  }
}